@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <div class="mt-4">
        <img src="@Url.Content("~/Images/math-logo.png")" alt="Gambar Home" style="width:200px;height:auto;">
        <h1 class="display-4 text-primary">Departemen Matematika</h1>
        <h2 class="h3 text-secondary mb-4">Universitas Diponegoro</h2>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <i class="fas fa-graduation-cap fa-3x text-primary mb-3"></i>
                        <h3>Program Studi</h3>
                        <p>S1 Matematika<br />S2 Matematika<br /></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <i class="fas fa-users fa-3x text-primary mb-3"></i>
                        <h3>Sivitas Akademika</h3>
                        <p>Dosen, Tendik, dan Mahasiswa berkualitas</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <i class="fas fa-flask fa-3x text-primary mb-3"></i>
                        <h3>Riset</h3>
                        <p>Pusat penelitian matematika terkemuka</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>